/Tecnicatura3Java/*/*/nbproject/
**/.idea/
/Tecnicatura3Java/*/*/build.xml
/Tecnicatura3Java/*/*/manifest.xml
/Tecnicatura3Java/*/*/nbproject/
/Tecnicatura3Java/*/nbproject/
/Tecnicatura3Java/build.xml
